/* src/App.css */
@import "tailwindcss";

@layer base {
  /* Gabungkan semua style untuk elemen html di sini */
  html {
    font-family: "SF UI Text", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
  }

  body,
  p,
  a,
  button,
  input,
  textarea,
  select {
    font-family: "SF UI Text", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  .font-display {
    font-family: "SF UI Display", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "SF UI Display", sans-serif;
  }
}

@plugin "daisyui" {
  themes: all;
}

/* TRANSISI or PRE-LOADING */
@keyframes zoom-in-out {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-zoom-in-out {
  animation: zoom-in-out 2s ease-in-out infinite;
}

/* HEADER */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: hsl(var(--p));
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1) !important;
  transform-origin: bottom left;
}

/* SWAL */
.swal2-container {
  z-index: 9998 !important; 
}

.swal2-popup {
  z-index: 9999 !important;
}

.swal2-popup.swal2-popup-bordered {
  border: 3px solid hsl(var(--p)); 
}

/* HERO */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite alternate;
}
