@font-face {
  font-family: "SF UI Text";
  src: url("/fonts/SFUIText-Regular.woff2") format("woff2"),
    url("/fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Display";
  src: url("/fonts/SFUIDisplay-Medium.woff2") format("woff2"),
    url("/fonts/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Display";
  src: url("/fonts/SFUIDisplay-Bold.woff2") format("woff2"),
    url("/fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Custom Toast Animation */
@keyframes toast-enter {
  0% {
    transform: scale(0.9) translateY(10px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes toast-leave {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.9) translateY(-10px);
    opacity: 0;
  }
}

.animate-enter {
  animation: toast-enter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; 
}

.animate-leave {
  animation: toast-leave 0.2s ease-in forwards;
  pointer-events: none;
}
